<h3>Register</h3>
<div class="">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-3">
      <label> username </label>
      <input type="text" formControlName="username" class="form-control">
    </div>
    <div class="form-group col-3">
      <label> email </label>
      <input type="text" formControlName="emailid" class="form-control">
    </div>
    <div class="form-group col-3">
        <label> password </label>
        <input type="password" formControlName="password" class="form-control">
    </div>
    <div class="form-group col-3">
        <label> confirm password </label>
        <input type="password" formControlName="cpassword" class="form-control">
    </div>
    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary" >Submit</button>
  </form>
</div>  